{{!-- modals --}}
{{!-- Noah --}}
<div id="open-modal-Noah" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Noah Fajarda</h1>
        <div>Hi 👋. I Like To Build Software.</div>
        <br>
        <div><small>Check out 👇</small></div>
        <a style="color: black;" href="https://github.com/noahfajarda" target="_blank">
            A link to my github
        </a>
    </div>
</div>
{{!-- Amr --}}
<div id="open-modal-Amr" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Amr Moubasher</h1>
        <div>I am currently learning the language of Computers.</div>
        <br>
        <div><small>Check out 👇</small></div>
        <a style="color: black;" href="https://github.com/amoubasher" target="_blank">
            A link to my github
        </a>
    </div>
</div>
{{!-- Anas --}}
<div id="open-modal-Anas" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Anas Qazza</h1>
        <div>An Aspiring Software Engineer Turning Caffeine Into Code.</div>
        <br>
        <div><small>Check out 👇</small></div>
        <a style="color: black;" href="https://github.com/aqazza" target="_blank">
            A link to my github
        </a>
    </div>
</div>
{{!-- Ranjit --}}
<div id="open-modal-Ranjit" class="modal-window">
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Ranjit Saini</h1>
        <div>A Student Of Software-Development.</div>
        <br>
        <div><small>Check out 👇</small></div>
        <a style="color: black;" href="https://github.com/rjsaini88" target="_blank">
            A link to my github
        </a>
    </div>
</div>