<div class="side-bar">
    <div class="side-container top">
    <h2 id="user-Id" style="display:none;">{{userId}}</h2>
        <svg viewbox="0 0 120 120" class="hover-svg">
            <path D="M 60 25 L 20 95 L 100 95 Z" />
            <path D="M 36 67 L 53 95" />
            <path D="M 33 72 L 47 95" />
            <path D="M 30 78 L 41 95" />
            <path D="M 27 83 L 35 95" />
        </svg>
    </div>
    <div class="side-container middle">
        <div id="viewHome" class="rela-block side-button home"></div>
        <div id="viewPlaylist" class="rela-block side-button playlists"></div>
        <div id="viewLikes" class="rela-block side-button likes"></div>
        <div class="rela-block side-button instagram"></div>
        <div class="rela-block side-button soundcloud"></div>
        <div class="rela-block side-button linked-in"></div>
    </div>
</div>

<script src="/js/side-bar.js"></script>
