<div class="side-bar">
    <div class="side-container top">
    <h2 id="user-Id" style="display:none;">{{userId}}</h2>
        <svg viewbox="0 0 120 120" class="hover-svg">
            <path D="M 60 25 L 20 95 L 100 95 Z" />
            <path D="M 36 67 L 53 95" />
            <path D="M 33 72 L 47 95" />
            <path D="M 30 78 L 41 95" />
            <path D="M 27 83 L 35 95" />
        </svg>
    </div>
    <div class="side-container middle">
        <div id="viewHome" class="rela-block side-button home"></div>
        <div id="viewPlaylist" class="rela-block side-button playlists"></div>
        <div id="viewLikes" class="rela-block side-button likes"></div>
        <div class="rela-block side-button instagram"></div>
        <div class="rela-block side-button soundcloud"></div>
        <div class="rela-block side-button linked-in"></div>
    </div>
</div>

<nav>
    <div class="logo">Web Biginner</div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<style>
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 10px 90px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.6);
        border-top: 1px solid #fff;
    }
    nav.logo {
        padding: 22px 20px;
        height: 80px;
        float: left;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
    nav ul {
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li a {
        line-height: 80px;
        color: #fff;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 13px;
        font-wdith: bold;
        text-transform: uppercase;
    }
    nav ul li a:hover {
        background: rgba(0,0,0,0.7);
        border-radius: 6px;
    }
    @media only screen and (min-width: 1290px) {
        nav {
            display: none;
        }
    }

</style>

<script src="/js/side-bar.js"></script>
