<div class="side-bar">
    <div class="side-container top">
    <h2 id="user-Id" style="display:none;">{{userId}}</h2>
        <svg viewbox="0 0 120 120" class="hover-svg">
            <path D="M 60 25 L 20 95 L 100 95 Z" />
            <path D="M 36 67 L 53 95" />
            <path D="M 33 72 L 47 95" />
            <path D="M 30 78 L 41 95" />
            <path D="M 27 83 L 35 95" />
        </svg>
    </div>
    <div class="side-container middle">
        <div id="viewHome" class="rela-block side-button home"></div>
        <div id="viewPlaylist" class="rela-block side-button playlists"></div>
        <div id="viewLikes" class="rela-block side-button likes"></div>
        <div id="search-artist" class="rela-block side-button auto"></div>
        <div class="rela-block side-button contact"></div>
        <div class="rela-block side-button log-out"></div>
    </div>
</div>

<div id="nav-container">
    <nav id="nav-box">
        <ul id="nav-items">
            <li><a href="#" id="viewHome" class="nav-item">Home</a></li>
            <li><a href="#" class="nav-item">Playlists</a></li>
            <li><a href="#" class="nav-item">Likes</a></li>
            <li><a href="#" class="nav-item">Contact Us</a></li>
            <li><a href="#" class="nav-item">Log Out</a></li>
        </ul>
    </nav>
</div>
<style>
    #nav-container {
        width: 100%;
        height: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 5%;
        background: rgba(0,0,0,0.2);
        background-color: rgba(255, 255, 255, 0.558);
        box-shadow: 4px 0px 25px -1px rgb(0 0 0 / 50%);
        color: white;
        padding: 10px;
        position: sticky;
        top: 92%;
        left: 0;
        margin: 1em 0;
        z-index: 3;
    }
    nav li {
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
    }
    #nav-box {
        width: 100%;
    }
    .nav-item {
        color: black;
        font-size: 25px;
    }
    #nav-items {
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        padding: 0;
        color: black;
    }
    a,button {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        cursor: none;
    }
    button {
        background: rgba(0,0,0,0.2);
        border: 2px solid #fd5e53;
        border-radius: 50px;
        padding: 9px 25px;
    }
    nav li a:hover {
        color: #fd5e53;
        transition: all 0.4s ease 0s;
    }
    button:hover {
        background-color: #fd5e53;
        transition: all 0.4s ease 0s;
    }
    @media only screen and (min-width: 1290px) {
        #nav-container {
            display: none;
        }
    }

</style>

<script src="/js/side-bar.js"></script>
