<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="slide navbar style.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
            rel="stylesheet"
        />
        {{! Bootstrap }}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        {{! Stylesheets }}
        <link rel="stylesheet" href="/css/main.css" />
        {{!-- awesome font --}}
        <script
            src="https://kit.fontawesome.com/30f7095b9b.js"
            crossorigin="anonymous"
        ></script>
        <link rel="icon" type="image/png" sizes="16x16" href="/images/gramophone.ico">
        <title>Juke Joint</title>
    </head>
    <body>
        <div class="twelve">
            <a href="/"><h1 id="main-title-text" class="main-title">Juke <i class="fa fa-spotify" aria-hidden="true"></i> Joint</h1></a>
        </div>
        <div class="cursor"></div>
        <main
            class="d-flex justify-content-around align-items-center flex-column text-center"
        >
            {{{body}}}
        </main>
    </body>
    {{! bootstrap js }}
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
    ></script>
    <script src="/js/mouse.js"></script>
</html>