<link rel="stylesheet" href="/css/homepage.css" />
<link rel="stylesheet" href="/css/track.css" />
{{! artistName, artistId, title, userId }}

{{>sidebar}}
<section class="content-section" style="width:80%;">
{{!-- big container --}}
    <div class="d-flex justify-content-between info-container">
        <div class="title-container">
            <div style="position:relative; top: 45%; left: 30%;">
                <div class="text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary-main">Artist</span>
                        <span id="artist-name" class="heading-primary-sub">{{artistName}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div style="width: 75%">
            <iframe
            style="border-radius: 5px"
                src="https://open.spotify.com/embed/artist/{{artistId}}?utm_source=generator"
                width="100%"
                height="380"
                frameborder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"
            ></iframe>
        </div>
    </div>
    <div id="user-Id-container" style="display:none">
        <h2>User Id:</h2>
        <h2 id="user-Id">{{userId}}</h2>
    </div>
    <div class="comment-section">
        {{>comment-section}}
    </div>
</section>

<link rel="stylesheet" href="/css/comment.css" />

<script src="/js/back-to-home.js"></script>
<script src="/js/comment/add-artist-comment-page.js"></script>