<h1>Welcome {{firstname}} {{lastname}}! Go to the routes to view data!</h1>
<form name="new-post" id="track-post">
    <input type="text" name="track_search" id="track_search" />
    {{! <textarea name="body" id="body" cols="30" rows="10"></textarea> }}
    <button type="submit" id="submit">Search Track</button>
</form>
<form name="new-post" id="artist-post">
    <input type="text" name="artist_search" id="artist_search" />
    {{! <textarea name="body" id="body" cols="30" rows="10"></textarea> }}
    <button type="submit" id="submit">Search Artist</button>
</form>
<form name="new-post" id="album-post">
    <input type="text" name="album_search" id="album_search" />
    {{! <textarea name="body" id="body" cols="30" rows="10"></textarea> }}
    <button type="submit" id="submit">Search Album</button>
</form>

<button type="button" id="search-artist">
    Click here to find a new artist!
</button>

{{#if loggedIn}}
    <button id="logout-btn">Log out</button>
{{/if}}

<script src="./js/homepage.js"></script>