<link rel="stylesheet" href="/css/homepage.css" />
<h1 id="welcome-text">Welcome <span id="user-name">{{firstname}} {{lastname}}</span>!</h1>
<div id="large-console-container">
    <div class='console-container' style="height:40px;"><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    <div class='console-container' style="height:40px;"><span id='text2'></span><div class='console-underscore' id='console2'>&#95;</div></div>
</div>
{{>sidebar}}
<section id="search-container">
    <div class="card">
        <div class="content">
            <h2 class="title">Search by Track</h2>
            <p class="copy">
                Discover over 80 million tracks for music with fine
                sound quality and experience.
            </p>
            <form name="new-post" id="track-post">
                <input class="search-bar" type="text" name="track_search" id="track_search" placeholder="La La Lost You" />
                <button type="submit" id="submit" class="submit">Search Track</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Search by Artist</h2>
            <p class="copy">
                Search for the most-streamed artists on the
                audio streaming platform Spotify.
            </p>
            <form name="new-post" id="artist-post">
                <input class="search-bar" type="text" name="artist_search" id="artist_search" placeholder="Childish Gambino" />
                <button type="submit" id="submit" class="submit">Search Artist</button>
            </form>
            
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Search by Album</h2>
            <p class="copy">
                Finding albums from your favorite artists can't be any more
                simple.
            </p>
            <form name="new-post" id="album-post">
                <input class="search-bar" type="text" name="album_search" id="album_search" placeholder="Blonde" />
                <button type="submit" id="submit" class="submit">Search Album</button>
            </form>
            
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Meet the Team</h2>
            <a class="btn member" href="#open-modal-Noah">Noah Fajarda</a>
            <a class="btn member" href="#open-modal-Amr">Amr Moubasher</a>
            <a class="btn member" href="#open-modal-Ranjit">Ranjit Saini</a>
            <a class="btn member" href="#open-modal-Anas">Anas Qazza</a>
        </div>
    </div>
</section>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
{{>about-us}}

<style>
    .content {
        transform: translateY(calc(50% + 100px))}
</style>


<script src="/js/homepage/console-text.js"></script>
<script src="./js/homepage/homepage.js"></script>