{{! ALL ELEMENTS THAT MUST BE IN HERE TO PREVENT FROM BREAKING! }}
{{! #failed-login, #username-input-login, #password-input-login, #login-form }}
<link rel="stylesheet" href="/css/login.css" />

<div class="typewriter">
      <p class="first_line text-center">Please Enter Your Information To Create An Account</p>
      <p class="second_line text-center">Or You Can Log In Below</p>
    </div>

<div class="container1">
    <div class="loader"><span></span></div>
    <div class="loader"><span></span></div>
    <div class="loader"><i></i></div>
    <div class="loader"><i></i></div>
</div>

<h1 id="failed-login"></h1>


<div class="main" id="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
        <form id="signup-form">
            <label for="chk" id="signupLabel" aria-hidden="true">Sign up</label>
            <input
                id="firstname-input-signup"
                type="firstname"
                name="firstname"
                placeholder="First name"
                required=""
            />
            <input
                id="lastname-input-signup"
                type="lastname"
                name="lastname"
                placeholder="Last name"
                required=""
            />
            <input
                id="username-input-signup"
                type="text"
                name="txt"
                placeholder="Username"
                required=""
            />

            <input
                id="password-input-signup"
                type="password"
                name="pswd"
                placeholder="Password"
                required=""
            />
            <button type="submit" id="signup-submit">Sign Up</button>
        </form>
    </div>
    <div class="container">
        <div class="box"></div>
    </div>

    <div class="login">
        <form id="login-form">
            <label for="chk" id="loginLabel">Log In</label>
            <input
                id="username-input-login"
                type="text"
                name="txt"
                placeholder="Username"
                required=""
            />
            <input
                id="password-input-login"
                type="password"
                name="pswd"
                placeholder="Password"
                required=""
            />
            <button type="submit" id="login-submit">Login</button>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/css/login.css" />
<script src="/js/login-page/login.js"></script>
<script src="/js/login-page/signup.js"></script>