@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
body {
  display: grid;
  place-items: center;
  background-color: rgba(151, 98, 19, 0.253);

  margin: auto;
  overflow: auto;
  cursor: none;
  background: linear-gradient(
    315deg,
    #3b0909a6 13%,
    #394b47 38%,
    #1b3c5f 68%,
    #2c0606 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.search-bar {
  font-size: 10px;
  padding: 8px 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 24px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.bold {
  font-weight: bold;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: none;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
}
.btn:hover {
  background-color: #5879c786;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
}

main {
  height:100%;
}

.main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 50px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
h1.signup-title {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

label {
  color: rgba(255, 255, 255, 0.664);
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: none;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: none;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #7a9d96;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: none;
}
button:hover {
  background: #5879c786;
}
.login {
  height: 460px;
  background: rgb(255, 255, 255);
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container1 {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
}
.container1 .loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate 4s linear infinite;
}
.container1 .loader:nth-child(1):before,
.container1 .loader:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.container1 .loader:nth-child(2),
.container1 .loader:nth-child(4) {
  animation-delay: -2s;
  filter: hue-rotate(90deg);
}
.container1 .loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9,
    0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9,
    0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
}
.container1 .loader span {
  position: absolute;
  inset: 20px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
  animation: background-transition 10s infinite;
}
@media (max-height: 998px) {
  .container1 .loader {
    width: 20vh;
    height: 20vh;
  }
}
.cursor {
  z-index: 9999;
  position: fixed;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}
.expand {
  animation: cursorAnim3 .5s forwards;
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(6)
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: "";
  position: absolute;
  background: #2696e8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
#nav-container {
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 5%;
  background: rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.558);
  box-shadow: 4px 0px 25px -1px rgb(0 0 0 / 50%);
  color: white;
  padding: 10px;
  position: sticky;
  top: 92%;
  left: 0;
  margin: 1em 0;
  z-index: 3;
}
nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}
#nav-box {
  width: 100%;
}
.nav-item {
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
#nav-items {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: black;
}
a,button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  cursor: none;
}
button {
  background: rgba(0,0,0,0.2);
  border: 2px solid #fd5e53;
  border-radius: 50px;
  padding: 9px 25px;
}
nav li a:hover {
  color: #fd5e53;
  transition: all 0.4s ease 0s;
}
#main-title-text {
  color: white;
  transition: all 0.4s ease 0s;
}
#main-title-text:hover {
  color: rgb(195, 195, 195);
}
.submit:hover {
  background-color: #fd5e53;
  transition: all 0.4s ease 0s;
}
#nav-container {
  margin-bottom: 0px;
}
@media only screen and (min-width: 1290px) {
  #nav-container {
      display: none;
  }
}