#title {
    color: red;
}

#title:hover {
    background-size: 100% 100%;
    /* change text color on hover */
    color: rgb(31, 185, 93);
}

#title {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--surrounding-color);
    margin-right: 10px;
    background-image: linear-gradient(
        270deg,
        var(--surrounding-color) 0%,
        var(--surrounding-color) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}
