.text-box {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content-section {
  width:80%;
}
.info-container {
  width:100%;
}
.title-container {
  width: 25%;
}

#lyric-comment-container {
  display: flex;
  width:90%;
  margin-bottom: 5%;
}
#accordionExample {
  width:50%;
  margin-right:10px;
}
#track-comment-section {
  width:50%;
  margin-left:10px;
}


@media only screen and (max-width: 1290px) {
  .content-section {
    height: 150%;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
  }
  .title-container {
    /* width: 100%; */
    height: 300px;
  }
  #nav-container {
    height: 110px;
  }
  #lyric-comment-container {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 5%;
    align-items: center;
  }
  #accordionExample {
    margin: 0px;
  }
  #track-comment-section {
    margin: 50px 0px;
  }
}


.heading-primary {
  color: rgba(253, 253, 253, 0.87);
  text-transform: uppercase;
}

.heading-primary-main {
  text-decoration: underline rgb(40, 77, 199);
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  animation-name: moveInleft;
  animation-duration: 2s;
}

.heading-primary-sub {
  margin-top: 30px;
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 20px;

  animation-name: moveInRight;
  animation-duration: 2s;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
  .heading-primary-sub {
    margin-left: 20px;
    margin-top: 30px;
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 20px;
    animation-name: moveInRight;
    animation-duration: 2s;
  }

  @keyframes moveInleft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
}

.feedback-input {
  cursor: none;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #4977cc;
}
#lyrics-button {
  cursor:none;
  margin:0px;
}
#track-name {
  color:rgb(170, 179, 105)
}
textarea {
  cursor: none;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  cursor: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #4973cc;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  cursor: none;
  background: #3641dd;
}

.placement {
  display: flex;
  justify-content: center;
  top: 80;
  right: 100;
}
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: none;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
.add-to-playlist {
  background: url("../images/playlist-icon.png")
  no-repeat center;
  background-color: rgba(255, 0, 0, 0.317);
  animation-name: added-playlist;
  animation-duration: 2s;
  height: 68px;
  width: 68px;
  border-radius: 20px;
}

@keyframes added-playlist {
  from {background-color: transparent;}
  to {
    background-color: rgba(255, 0, 0, 0.317);

  }
}

@keyframes removed-playlist {
  from {
    background-color: rgba(255, 0, 0, 0.317);
  
  }
  to {background-color: transparent;}
}