@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  background-color: rgba(151, 98, 19, 0.253);
  margin: auto;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  padding: 10% 0 0 40%;
  overflow: hidden;
  background: linear-gradient(
    315deg,
    #153b94 13%,
    #394b47 38%,
    #1b3c5f 68%,
    #52222a 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
h1 {
  color: #ffffff;
}
p {
  color: #d8d4d4;
}

.search-bar {
  font-size: 10px;
  padding: 8px 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 24px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: #8cbcd028;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.page-content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: auto;
  height: 100vh;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://akns-images.eonline.com/eol_images/Entire_Site/2021330/rs_1200x1200-210430163406-1200-the-weeknd.jpg?fit=around%7C1200:1200&output-quality=90&crop=1200:1200;center,top);
}
.card:nth-child(2):before {
  background-image: url(https://www.sleek-mag.com/wp-content/uploads/2016/08/AlbumCovers_Blonde.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.card:nth-child(3):before {
  background-image: url(https://i.etsystatic.com/34132510/r/il/c9793b/3836493837/il_fullxfull.3836493837_mq8f.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://render.fineartamerica.com/images/rendered/default/flat/blanket/images/artworkimages/medium/1/the-beatles-abbey-road-paul-meijering.jpg?&targetx=-1&targety=-111&imagewidth=952&imageheight=950&modelwidth=952&modelheight=800&backgroundcolor=6E4E36&orientation=1&producttype=blanket-coral-50-60);
  background-position: center -10px;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.bold {
  font-weight: bold;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.title-container {
  display: grid;
  justify-content: center; /* align the items to the center */
}
.copy {
  font-family: var(--font-serif);
  /* font-size: 1.125rem; */
  font-style: italic;
  line-height: 1.35;
}
/* .header-container {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
} */
h1 {
  font-size: 4rem;
  display: block; /* or inline-block */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* p {
  font-size: 1.5rem;
  display: block; 
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
#tagline {
  width: 300px;
  font-size: 36px;
  line-height: 40px;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-top: -15px;
  margin-left: -150px;
  text-align: center;
}
#tagline:before {
  content: "";
  position: absolute;
  left: -30px;
  line-height: 40px;
}
#tagline:after {
  content: "";
  position: absolute;
  right: -30px;
  line-height: 40px;
}
#tagline:after,
#tagline:before {
  color: #485fc5;
  font-size: 42px;
  animation-name: opacity;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}
.visible {
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}
.visible ul {
  margin: 0;
  padding: 0;
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}
.visible ul li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }

  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }

  73% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  87% {
    opacity: 0;
  }

  93% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }

  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }

  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }

  73% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  87% {
    opacity: 0;
  }

  93% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  60% {
    margin-top: -80px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* .bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #0f2862 0%,
    #9e363a 25%,
    #091f36 51%,
    #4f5f76 100%
  );
  animation: AnimateBG 20s ease infinite;
} */

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
a:hover {
  cursor: pointer;
}
.container {
  position: relative;
}
#side-nav {
  width: 216px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease-out;
  -webkit-animation: animate-width 1.2s 1 ease-in-out;
  animation: animate-width 1.2s 1 ease-in-out;
  left: -26px;
  top: 20px;
  position: absolute;
}
#side-nav.width {
  width: 48px;
}
#side-nav.width ul li a span {
  opacity: 0;
  right: 0;
}
#side-nav.width ul .selected ul {
  position: absolute;
  right: -8rem;
  width: 8rem;
  top: 0;
  display: none;
  left: auto;
  -webkit-animation: none;
  animation: none;
}
#side-nav.width ul .selected:hover ul {
  display: block;
}
#side-nav > ul > li {
  display: block;
  min-height: 48px;
  font-weight: bold;
  font-size: 0.76em;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#side-nav > ul > li:hover,
#side-nav > ul > li.selected {
  background: rgba(0, 0, 0, 0.1);
}
#side-nav > ul > li:hover > a {
  color: #3ed8b5;
  transition: color 0.2s;
}
#side-nav > ul > li:hover ul {
  display: block;
}
#side-nav > ul > li.selected ul {
  display: block;
  left: 0;
  position: relative;
  width: 100%;
  top: 0;
  overflow: hidden;
  -webkit-animation: animate-height 1.2s 1 ease-in-out;
  animation: animate-height 1.2s 1 ease-in-out;
}
#side-nav > ul > li .fa {
  font-size: 1.1rem;
  padding: 14px;
}
#side-nav > ul > li a {
  height: inherit;
  display: block;
}
#side-nav > ul > li span {
  position: absolute;
  right: 0;
  height: inherit;
  padding: 17px 0 0 0;
  left: 48px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
}

ul li ul {
  position: absolute;
  right: -8rem;
  background: rgba(0, 0, 0, 0.5);
  width: 8rem;
  top: 0;
  display: none;
}
ul li ul li {
  display: inline;
}
ul li ul li a {
  display: block;
  padding: 1em;
}
ul li ul li a:hover {
  color: #3ed8b5;
  transition: color 0.2s;
}

#logo {
  height: 48px;
  background: #333;
  display: block;
  width: 100%;
  position: relative;
}
#logo:before {
  background: linear-gradient(to right, #709ad1 0%, #3ed8b5 100%);
  height: 2px;
  display: block;
  content: "";
  width: 100%;
  bottom: 0;
  position: absolute;
}
#logo .fa {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  font-size: 1.625em;
  display: block;
  width: 26px;
  height: 26px;
}

#toggle {
  width: 48px;
  height: 48px;
  display: block;
  padding: 16px;
}
#toggle:hover .fa {
  color: #3ed8b5;
}

@-webkit-keyframes animate-width {
  0%,
  40% {
    width: 48px;
  }
  100% {
    width: 216px;
  }
}

@keyframes animate-width {
  0%,
  40% {
    width: 48px;
  }
  100% {
    width: 216px;
  }
}
@-webkit-keyframes animate-height {
  0%,
  40% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes animate-height {
  0%,
  40% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes rotate {
}
@keyframes rotate {
}
